new file:   .idea/.gitignore
new file:   .idea/aws.xml
new file:   .idea/codeStyles/Project.xml
new file:   .idea/codeStyles/codeStyleConfig.xml
new file:   .idea/misc.xml
new file:   .idea/modules.xml
